# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment overrides
.env.local
.env.*.local
*.local

# Next.js build output
.next/
*/.next/
**/.next/
out/
*/out/
**/.out/
dist/
*/dist/
*.zip

# Editor & OS artifacts
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
